<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>aeocities</title>
    <style>
        html,body {
            background-color: black;
            color: rgb(207, 141, 194);
        }
        a {
            color: rgb(224, 102, 210);
        }

        a:hover,a:active {
            color: rgb(198, 96, 171);
        }

        ul {
            column-count: 3;
        }

        iframe {
            display: block;
            border: none;
            height: 100vh;
            width: 100vw;
        }
    </style>
  </head>
  <body>
      <h2>aeocities, a third party API for <a href="https://neocities.org">neocities</a></h2>
      <ul>
          <li><a href="/random">/random</a><br>Get a Random neocities site</li>
          <li><a href="/list/1">/list/[1-{{m}}]</a><br>Get a list of neocities sites</li>
          <li><a href="/site/distantskies">/site/[site]</a><br> Get informaton on a neocities site</li>
      </ul>
   <div>
    <iframe src="{{r['url']}}" title="{{r['title']}}" width="860" height="640"></iframe> 
  </div>
  <p><a href="{{r['url']}}">{{r['title']}}</a> | webmaster: <a href="{{r['info']['site']}}">{{r['info']['site_name']}}</a> | views: {{r['info']['views']}}</p>

  </body>
</html>


